.bg__icon{
    padding: .4rem;
    border-radius: 10rem;
    background: #CCC;
    margin-right: 1.4rem;
}

.icon{
    color:white;
}


.icon-button{
    $button-size: calc(#{$icon}*0.6);
    min-width: $button-size;
    height: $button-size;
    background-color: $bg-accent;
    border-radius: 3.2rem;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    font-size: 1.6rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        filter: brightness(1.05);
        cursor: context-menu;
    }
    & svg { 
        fill: $text-color;
        width: 20px;
        height: 20px;
    }
}
