.homestay {
    & .row {
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 10px 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        opacity: 50%;
        & svg {
            width: 100%;
        }
        & span {
            text-align: center;
        }
    }
    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        opacity: 50%;
        & svg {
            width: 100%;
        }
        & span {
            text-align: center;
        }
    }
    & .item {
        border: 1px solid rgb(238, 236, 236) !important;
        display: flex;
        position: relative;
        padding: 10px 10px;
        &__picture {
            display: block;
            &--src {}
            &--heart {
                top: 5px;
                right: 5px;
                position: absolute;
                z-index: 1;
            }
        }
        &__info {
            padding-top: 10px;
            padding-left: 10px;
            display: block;
            flex: 1 1 70%;
            &--name {
                & .item__title {
                    font-size: 18px;
                    display: flex;
                    text-decoration: none;
                    color: $color-black;
                    font-weight: bold;
                    &--contain:hover {
                        color: #f65e39;
                    }
                }
            }
            &--type {
                color: $color-grey;
                font-size: 13px;
                font-weight: bold;
            }
            &--subcontent {
                display: flex;
                justify-content: space-between;
                & .subcontent__left {
                    font-size: 14px;
                    &--location {
                        padding: 10px 0px;
                        & .a {}
                        text-decoration: none;
                        color: $color-black;
                        font-weight: bold;
                    }
                    &--room {
                        margin-bottom: 10px;
                    }
                    &--rating {
                        & .bt__default {
                            margin-left: 15px;
                            background-color: rgb(247, 112, 78);
                            height: 25px;
                            text-align: center;
                            padding: 0 1rem;
                        }
                        & .bt__default:hover {
                            margin-left: 15px;
                            background-color: rgb(246, 75, 33);
                        }
                        & .bt__cancel {
                            cursor: pointer;
                            margin-left: 15px;
                            background-color: rgb(241, 234, 232);
                            height: 25px;
                            text-align: center;
                            padding: 0 1rem;
                            color: rgb(246, 75, 33);
                            font-weight: 600;
                            display: inline-block;
                            transition: all 0.3s;
                            outline: 0;
                            border-radius: 0.5rem;
                            overflow: hidden;
                            border: 1px solid #f65e39;
                        }
                        & .bt__cancel:hover {
                            margin-left: 15px;
                            background-color: rgb(246, 75, 33);
                            color: white;
                        }
                    }
                }
                & .subcontent__mid {
                    position: absolute;
                    bottom: 10px;
                    right: 30%;
                }
                & .subcontent__right {
                    font-size: 18px;
                    padding-top: 30px;
                    &--price {
                        text-align: right;
                        &-sub {
                            margin-bottom: 5px;
                            border-radius: 2px;
                            background-color: #666;
                            color: #fff;
                            padding: 3px 8px;
                            position: relative;
                            &:before {
                                content: "";
                                position: absolute;
                                border: 5px solid transparent;
                                border-top-color: #666;
                                bottom: -10px;
                                right: 15px;
                            }
                        }
                        &-num {
                            font-size: 24px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}