//color
$color-primary: #5a73fc;
$color-primary-btc: #1639ff;
$color-primary-light: rgba(142, 158, 252, .3);
$color-primary-dark: rgba(28, 62, 255, .5);
$color-love: rgba(255, 17, 116, .8);
$color-grey: #777777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-main: #f68a39;
$color-secondary-light: #F65E38;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485;
$color-grey-dark-1: #333;
$bg: #fff;
$bg-accent: #E4E6EB;
$text-color: #050505;
$border: 1px solid rgb(223, 219, 219);


//size
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-1of4: 3rem;
$gutter-vertical-small : 6rem;
$border-radius: 0.8rem;
$nav-size: 6rem;
$icon: 7rem;
$speed: 500ms;

//font
$default-font-size: 1.6rem;
